.header1{
    padding:50px 200px;
    font-family: 'work sans' sans-serif;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.header{
background-color: bisque;
/* padding:50px 300px; */
}
header h3{
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
}

nav>ul{
    display:flex;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    gap:30px;
    list-style: none;

    
}
nav ul a{
    text-decoration: none;
}
.banar1{
    text-align: center;

}
.banar-tittle{
    font-size: xx-large;
    
    font-weight:bolder;
}
.button{
    background-color:coral;
    padding:15px 35px;
    color:white;
    border:0px;
    margin-bottom: 10px;
}
.show img{
    display:block;
    margin:auto;
height: 600px;
width:70%;
align-items: center;
justify-content: center;
}
  


@media screen and (max-width:576px) {
    nav>ul, .header,.header1{
        flex-direction: column;
     }
     .header1{
        padding:20px;
     }
}

main{
    height: 1440px;
    margin: 0px auto;
}
.container{
    display:flex;
    align-items: center;
    justify-content: center;
    padding:30px 50px;
    gap:76px;
}
.container-img img{
    display:block;
    margin:auto;
height: 400px;
width:80%;
align-items: center;
justify-content: center;
}

.container-img{
    display:grid;
    grid-template-columns: repeat(2,1fr);
gap:10px;
}
.h1-content .quick{
    font-size: xx-large;
    color: darkslateblue;
}
.h1-content .of our{
    font-size: xx-large;
    color:black;
}
.h1-content .features{
    font-size: xx-large;
    color:darkorange;
}
@media screen and (max-width:576px)  {
    .container{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .container-img{
        grid-template-columns: repeat(1,1fr);
    }

    

}
.facts{
    margin-top: 30px;
}
.some facts{
    display: flex;
    font-size: xx-large;
}
.facts-container{
    display:flex;
    align-items: center;
    justify-content: space-around;
    
}
.card{
    border-radius: 5px;
    border:1px solid red;
    padding:40px 50px;
    align-items: center;
    text-align: center;
    justify-content: center;
 margin:0px auto;
}
  @media screen  and (max-width:576px) {
    .some facts,.facts-container{
        flex-direction: column;
    }
    .facts-container{
        gap:40px;
    }
  }