nav{
    margin:0px 200px;
    display:flex;
    justify-content: space-between;

    
}
.header{
    background-color:beige;
    position:sticky;
    top:0px;
}
nav,a{
    display: flex;

}
.h1{
    font-size: xx-large;
}

    nav>ul{
        display:flex;
        align-items: center;
        list-style: none;
        font-family: Arial, Helvetica, sans-serif;
        
}
.mary{
    color:coral;}

    ul,li{
        text-align: right;
        list-style: none;
        display: flex;
        margin-right: 20px;
        text-decoration: none;
    }
    li>button{
        color:#fff;
background-color: coral;
border:10px;
padding:20px 30px;
    }
    
.banar{
    background-color:beige;
    background-image: url(images/header_bg.png),url(images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right,bottom left;
    display: flex;
    justify-content: space-between;
    padding:30px 30px 0px 150px;
    
}
.button1{
color:#fff;
background-color: coral;
border:10px;
padding:20px 30px;
font-size: large;
font-weight: 700;
font-family: Arial, Helvetica, sans-serif;
gap:45px;
}
.img{
    padding:4px 10px 0px 4px;
}
.what{
    margin:80px;
    text-align: center;
    /* hieght:300px; */
    background-color:beige;
    padding:60px 70px;
}
.gap{
    margin:80px;
    margin-top: 20px;
    display:flex;
    padding:30px;
    border-radius: 5px;
    gap:24px;
    background: #fff;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
} 
main>section{
    display:flex;
    gap:80px;
}
main>section1{
    display:flex;
    gap:40px;
}
.hr{
    padding:30px;
}
main{
    margin:80px;
}
.button6{
    text-align: center;
    /* color:white; */
    /* font-size: large; */
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-weight: 900px; */
}
.button5{
    border:0px;
    background: coral;
    padding:20px 30px;
    color:white;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900px
}
input{
    display:block;
    margin-top: 10px;
    padding:10px 20px;
    border:0px;
    ;
}
.footer{
    /* margin:0px; */
    background-color:bisque;
    padding:50px 80px;
}
.section{
    display:flex;
    justify-content: space-between;
}
textarea{
    border:0px;
}

